In [2]:
import pandas as pd

In [2]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
lst=['a','b','c','d','e']
print(lst)

['a', 'b', 'c', 'd', 'e']

In [6]:
df=pd.DataFrame(lst)
print(df)

   0
0  a
1  b
2  c
3  d
4  e

In [7]:
df=pd.DataFrame(['a','b','c','d'])
print(df)

   0
0  a
1  b
2  c
3  d

In [8]:
df

   0
0  a
1  b
2  c
3  d

In [9]:
lst_of_lst=[['a','b','c'],['d','e','f'],['g','h','i']]
df2=pd.DataFrame(lst_of_lst)
df

   0
0  a
1  b
2  c
3  d

In [10]:
lst_of_lst=[['a','b','c'],['d','e','f'],['g','h','i']]
print(lst_of_lst)

[['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]

In [11]:
df2=pd.DataFrame(lst_of_lst)
df2

   0  1  2
0  a  b  c
1  d  e  f
2  g  h  i

In [15]:
dict1={'ID':{11,22,33},'NAME':{'Amit','Ankit','Avnish'}}
print(dict1)

{'ID': {33, 11, 22}, 'NAME': {'Ankit', 'Avnish', 'Amit'}}

In [20]:
dict1={'ID':[11,22,33]}
print(dict1)

{'ID': [11, 22, 33]}

In [21]:
df3=pd.DataFrame(dict1)
df3

   ID
0  11
1  22
2  33

In [22]:
dict2={'ID':[11,22,33],'NAME':['Amit','Ankit','Avnish']}
print(dict2)

{'ID': [11, 22, 33], 'NAME': ['Amit', 'Ankit', 'Avnish']}

In [23]:
df4=pd.DataFrame(dict2)
df4

   ID    NAME
0  11    Amit
1  22   Ankit
2  33  Avnish

In [26]:
lst_of_dict=[{'a':1,'b':2},{'a':3,'b':4}]
df5=pd.DataFrame(lst_of_dict)
df5

   a  b
0  1  2
1  3  4

In [27]:
lst_of_dict=[{'a':1,'b':2,'c':5},{'a':3,'b':4}]
df6=pd.DataFrame(lst_of_dict)
df6

   a  b    c
0  1  2  5.0
1  3  4  NaN

In [28]:
dict_s={'SN':pd.Series([1,2,3]),'ID':pd.Series([111,222,333])}
df7=pd.DataFrame(dict_s)
df7

   SN   ID
0   1  111
1   2  222
2   3  333

In [3]:
pf=pd.read_csv('file:///E:/hi/example.html')
pf

ParserError: Error tokenizing data. C error: Expected 1 fields in line 42, saw 3